.dad-joke{
    display: flex;
    justify-content: space-around;
    justify-items: center;
    /* background-color: ; */
    border-style: solid;
    border-color: #DB5461;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;

}


h3{
}